<!DOCTYPE html> 
  <html>
    <head>
      <style type=\"text/css\">
        body { text-align:center;font-family...#x27;&#x2F;&#x27; do\n    &quot;Hello World&quot;\n  end\nend\n</pre>\n  </div>\n</body>\n</html>\n" to include "<p> 97Bowling Alley Lane, Boulder CO </p>